/* Card */
.auth-card {
  width: 100%;
  max-width: 48rem;
  background: #fffaf3;
  border-radius: 1rem;
  padding: 2.5rem;
}

/* Tabs */
.auth-tabs {
  display: flex;
  margin-bottom: 2rem;
  background: #ead9c4;
  border-radius: 0.5rem;
  overflow: hidden;
}

.auth-tab {
  width: 50%;
  padding: 0.75rem 0;
  font-weight: 500;
  border: none;
  background: transparent;
  cursor: pointer;
}

.auth-tab.active {
  background: #b38b59;
  color: white;
}

/* Labels & Inputs */
.auth-label {
  font-weight: 500;
  margin-bottom: 0.35rem;
}

.auth-input {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d8c6b2;
  outline: none;
}

.auth-input:focus {
  box-shadow: 0 0 0 2px rgba(179, 139, 89, 0.4);
}

/* Password + forgot row */
.password-row {
  display: flex;
  justify-content: flex-end;
  margin-top: -8px; /* pulls it closer to input */
  margin-bottom: 14px;
}

.forgot-link {
  font-size: 0.85rem;
  color: #b38b59;
  cursor: pointer;
}

.forgot-link:hover {
  text-decoration: underline;
}
/* Button */
.auth-btn {
  width: 100%;
  height: 3rem;
  margin-top: 0.75rem;
  background: #b38b59;
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.auth-btn:active {
  transform: scale(0.97);
  background: #9c7444;
}

/* Google */
.google-btn {
  margin-top: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: 1px solid #d8c6b2;
  border-radius: 0.5rem;
  background: white;
  color: #5c442a;
  font-weight: 500;
}

.google-btn img {
  width: 20px;
}

/* Footer */
.auth-footer {
  text-align: center;
  margin-top: 1.5rem;
}

.auth-link {
  color: #b38b59;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-card {
    max-width: 90%;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .auth-card {
    padding: 1.5rem;
  }

  .auth-tabs {
    flex-direction: column;
  }

  .auth-tab {
    width: 100%;
  }
}
